.footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: #fff;
  font-size: 0.95rem;
}

.footer__span {
  font-weight: bold;
  color: #61dafb;
}
